<style media="screen">
    .checkbox-xl .custom-control-label::before,
    .checkbox-xl .custom-control-label::after {
        top: 1.2rem;
        width: 1.85rem;
        height: 1.85rem;
    }
    
    .checkbox-xl .custom-control-label {
        padding-top: 10px;
        padding-left: 10px;
    }
</style>


<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<div class="jumbotron text-center">
    <h1>Examen de conocimientos generales</h1>
</div>

<div class="container">
    <div id="question-container" class="{{hideContainer}}">
        <!Panel con la pregunta>
        <div>
            <div class="avance">

                <h4>Pregunta {{ avance }} de {{total}}</h4>
            </div>
            <div>
                <h3>{{pregunta}}</h3>
            </div>
            <!Respuestas>
            <div id="anwer-buttons" class="btn-grid">
                <h4>
                    <div id="anwer-buttons" class="btn-grid">

                        <button class="btn btn-info" (click)="next(1)">{{res1}}</button>
                        <button class="btn btn-info" (click)="next(2)">{{res2}}</button>
                        <button class="btn btn-info" (click)="next(3)">{{res3}}</button>
                        <button class="btn btn-info" (click)="next(4)">{{res4}}</button>

                    </div>
                </h4>
                <!Boton bandera>

            </div>
        </div>
    </div>
    <div class="controls">
        <button id="start-button" class="buttonDisabled {{hideBtn}}" (click)="start()" class="btn btn-dark">Iniciar Examen</button>
    </div>
</div>