<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Progreso del usuario</h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="spanish-tab" data-toggle="tab" href="#spanish" role="tab" aria-controls="spanish" aria-selected="true">Español</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="math-tab" data-toggle="tab" href="#math" role="tab" aria-controls="math" aria-selected="false">Matematicas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cience-tab" data-toggle="tab" href="#cience" role="tab" aria-controls="cience" aria-selected="false">Ciencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="english-tab" data-toggle="tab" href="#english" role="tab" aria-controls="english" aria-selected="false">Ingles</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="spanish" role="tabpanel" aria-labelledby="spanish-tab">
                    <h3>Palabras</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: spanish.palabras + '%'}">{{spanish.palabras}}%</div>
                    </div>
                    <h3>Gramática</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: spanish.gramatica + '%'}">{{spanish.gramatica}}%</div>
                    </div>
                    <h3>Textos</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: spanish.textos + '%'}">{{spanish.textos}}%</div>
                    </div>
                    <h3>Verbos</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: spanish.verbos + '%'}">{{spanish.verbos}}%</div>
                    </div>
                    <h3>Alfabeto</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: spanish.alfabeto + '%'}">{{spanish.alfabeto}}%</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="math" role="tabpanel" aria-labelledby="math-tab">
                    <h3>Potencias</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: math.potencias + '%'}">{{math.potencias}}%</div>
                    </div>
                    <h3>Reglas de los signos</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: math.reglas + '%'}">{{math.reglas}}%</div>
                    </div>
                    <h3>Ecuaciones</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: math.ecuaciones + '%'}">{{math.ecuaciones}}%</div>
                    </div>
                    <h3>Raices</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: math.raices + '%'}">{{math.raices}}%</div>
                    </div>
                    <h3>Operaciones básicas</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: math.operaciones + '%'}">{{math.operaciones}}%</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="cience" role="tabpanel" aria-labelledby="cience-tab">
                    <h3>Biología</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: cience.biologia + '%'}">{{cience.biologia}}%</div>
                    </div>
                    <h3>Química</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: cience.quimica + '%'}">{{cience.quimica}}%</div>
                    </div>
                    <h3>Física</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: cience.fisica + '%'}">{{cience.fisica}}%</div>
                    </div>
                    <h3>Geografía</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: cience.geografia + '%'}">{{cience.geografia}}%</div>
                    </div>
                    <h3>Meteorología</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: cience.meteorologia + '%'}">{{cience.meteorologia}}%</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                    <h3>Revolución Mexicana</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: history.revM + '%'}">{{history.revM}}%</div>
                    </div>
                    <h3>Revolución Industrial</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: history.revI + '%'}">{{history.revI}}%</div>
                    </div>
                    <h3>Independencia de México</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: history.ind + '%'}">{{history.ind}}%</div>
                    </div>
                    <h3>Prehistoria</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: history.pre + '%'}">{{history.pre}}%</div>
                    </div>
                    <h3>Astronomía</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: history.astro + '%'}">{{history.astro}}%</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="english" role="tabpanel" aria-labelledby="english-tab">
                    <h3>Verbos</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: english.verbos + '%'}">{{english.verbos}}%</div>
                    </div>
                    <h3>Auxiliares</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: english.aux + '%'}">{{english.aux}}%</div>
                    </div>
                    <h3>Tiempos</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: english.tiempos + '%'}">{{english.tiempos}}%</div>
                    </div>
                    <h3>Sujetos</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: english.sujetos + '%'}">{{english.sujetos}}%</div>
                    </div>
                    <h3>Números</h3>
                    <div class="progress">
                        <div class="progress-bar bg-info" [ngStyle]="{width: english.numeros + '%'}">{{english.numeros}}%</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>