<div class="container">
    <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/746/4149847746_b81880c6-f079-49ed-bfc2-6c8d1559a968.png?cb=1605732579" alt="" width="400">
    <br>
    <br>
    <h1>¿Que es Pre-preparate?</h1>
    <h4>Pre-preparate es una plataforma de estudios dirigida a aspirantes de bachillerato para reforzar y/o mejorar sus conocimientos previos a su ingreso a bachillerato.</h4>
    <h2>¿Que nos diferencia del resto?</h2>
    <h4>La plataforma de Pre-preparate ofrece evaluaciones personalizadas para cada uno de los usuarios. Esto permite que cada uno de los usuarios avance a su ritmo y aprendiendo a su manera.</h4>
    <br>
    <br>
    <br>
    <br>
    <h6>Desarrollado por</h6>
    <h6>Ulise Marcos Ruelas Buenrostro.</h6>
    <h6>Daniel Alejandro Pérez Cortés.</h6>
    <h6>Jorge Luis Núñez Pérez.</h6>
</div>